<h2>Title: <%= @task.title %></h2>
<p>Details: <%= @task.details %></p>
<p>Completed? <%= @task.completed %></p>
<%= link_to 'All tasks', tasks_path %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
